<h1>Estos son nuestros integrantes:</h1>
<div class="imgF">
     <img src="/img/fotoRoni.jfif" alt="" height="300px">
    <p>Roni, programador</p>
    <img src="/img/fotoNacache.jfif" alt="" height="300px">
    <p>Benicio, programador</p>   
    <img src="/img/fotoBenicio.jpeg" alt="" height="300px">
    <p>Joaquin, programador</p>
</div>