@{
    ViewData["Title"] = "Scape Room";
}

<div class="text-center">
    <div class="presentation">
        <div>
    <h1 class="display-4">Sala Fantasmagorica</h1>
    </div>
    <div>
        <p><i>"El que tiene miedo a morir, que no nazca"</i><small> Joaquin Naccache</small></p>
    </div>
    <div class="imgF">
    <img src="" alt="">
    <img src="/img/fondofantasma.jpg">
    <img src="/img/fotoFantasma1.jfif" alt="">
    <img src="/img/fotoFantasma2.webp" alt="">
</div>
