<h1>Tutorial</h1>
<p>Vas a tener pistas en imagenes por cada habitacoión y vas a tener que ingresar el codigo correspondiente para poder escapar.</p>  
<p>Estamos en el año 1982, en nuestro planeta ocurre una invasión de fantasmas que puede ser terminal. entra a la sala de escape a encontrar al líder de los fantasmas y así terminar con la invasión.</p>
<img src="/img/planeta.jpg" alt="planeta">