html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: aliceblue;
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover  ;

}
.presentation
{

}
.presentation img , .imgF div img
{
  height: 300px;
  margin-left: 10px;
}
.imgF
{
  display: flex;
  justify-content: space-around ;
}

.victoria
{
  padding-top: 10px;
}

.img
{
  height: 100%;
  width: 100%;
}